<POST>
	<VCenter>192.168.10.199</VCenter>
	<VCUser>root</VCUser>
	<VCPwd></VCPwd>
	<VMDiskType>Thin</VMDiskType>
	<VMDS>SSD</VMDS>
	<VMCluster>Cluster</VMCluster>
	<VMFolder></VMFolder>
	<NICType>Vmxnet3</NICType>
	<NetName>VCSA Network</NetName>
	<ISO>[SSD]ISO\HYDRATION_UEFI.iso</ISO>
	<ESXi>192.168.10.199</ESXi>	
	<VMGuestOS>windows2019srv_64Guest</VMGuestOS>	
</POST>
